.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 8px;
}
